/* 
font-family: Arial Rounded MT Bold
color: #04a84f verde ,#3298fb azul,#7f7f7f gris
*/


/*Default style*/
body {
  padding: 0px 90px 0px 90px;
  font-style: Arial;
}

/*text*/

p.ha { /*headerArial*/
  font-size: 30px;
  font-family: Arial;
  font-weight: bold;
  text-align: center;
  background: #3298fb;
  color: white;
  padding: 2px 2px 2px 2px;
  border-radius: 35px;
}

/*gridLayout*/

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 20px;
}
.grid-item {
  padding: 20px;
}

/*navbar*/

.navbar{
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.navbar li{
  float: left;
  width: 220px;
  height: 40px;
  background: black;
  opacity: .8;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  margin-right: 2px;
}

.navbar li a{
  text-decoration: none;
  color: white;
  display: block;
}

.navbar li a:hover{
  background: #3298fb;
}

.navbar li .navbar li {
  display: none;
}

.navbar li:hover .navbar li {
  display: block;
}

/*footer*/

.fproducto {
  background: #3298fb;
  padding: 50px 0px 50px;
  border-radius: 35px;
}

.fproducto pre {
  color: white;
  font-family: Arial, 'Rounded';
  font-size: 19px;
  font-weight: bold;
  border: 1 solid;
  text-align: center;
  padding: 55px;
  
}

.fcliente {
  background: #7f7f7f;
  padding: 50px 0px 50px;
  border-radius: 35px;
}

.fcliente pre{
  color: white;
  font-family: Arial, 'Rounded';
  font-size: 25px;
  font-weight: bold; 
  text-align: left; 

}

.fcliente div div p {
  color: white;
  font-family: Arial, 'Rounded';
  font-size: 19px;
  font-style: italic;
  text-align: center;
}

.fcliente div div img {
  margin: 0px 0px 0px 100px;
}

.fcontac {
  background: #303030;
  margin-top: 500px;
  padding: 50px 0px 50px;
  border-radius: 5px;
  color: white;
  
}

.fcontac ul {
  list-style: none;
}

.fcontac address {
  color: rgb(110, 109, 109);;
}

/*gallery*/

div.gallery {
  margin: 10px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

div.gallery-scroll {
  overflow: scroll;
  width: 1150px;
  height: 400px
}


